:root {
  --primary-font: Roboto;
  --secondary-font: Raleway;

  --standard-font-size: 16px;

  --standard-letter-spacing: 0.02em;
  --double-letter-spacing: 0.04em;

  --medium-font-weight: 500;
  --large-font-weight: 700;

  --standard-line-height: 1.5;

  --primary-color: #2e2f42;
  --primary-modal-color: #2e2f4266;
  --secondary-color: #434455;
  --specific-secondary-color: #8e8f99;

  --specific-border-color: #e7e9fc;

  --primary-background-color: #ffffff;
  --secondary-background-color: #f4f4fd;
  --modal-background-color: #fcfcfc;

  --primary-control-color: #4d5ae5;
  --active-control-color: #404bbf;
  --active-social-color: #31d0aa;

  --primary-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

body {
  font-family: var(--primary-font), sans-serif;
  font-size: var(--standard-font-size);
  line-height: var(--standard-line-height);
  letter-spacing: var(--standard-letter-spacing);
  color: var(--primary-color);
  background-color: var(--primary-background-color);
}

ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

p {
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

input,
textarea {
  font-family: inherit;
}

textarea {
  resize: none;
}

.container {
  padding: 24px 15px;
  min-width: 305px;
  margin: 0 auto;
}

.page-header {
  border-bottom: 1px solid var(--specific-border-color);
}

.page-header .container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 76px;
}

.menu-toggle {
  height: 22px;
  width: 32px;
  display: flex;
  align-items: center;
  justify-content: center;

  padding: 0;
  background-color: transparent;
  cursor: pointer;
  border: none;
  outline: none;
}

.menu-toggle-icon {
  stroke: var(--primary-color);
  transition: stroke var(--primary-transition);
}

.menu-toggle:hover .menu-toggle-icon,
.menu-toggle:focus .menu-toggle-icon,
.menu-toggle:active .menu-toggle-icon {
  stroke: var(--active-control-color);
}

.navigation,
.contacts {
  display: none;
}

.nav-list {
  display: flex;
  gap: 40px;
}

.contacts-list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 12px;
}

.nav-list-item-link {
  display: block;
  position: relative;
  font-weight: var(--medium-font-weight);
  padding: 24px 0;
  transition: color var(--primary-transition);
}

.nav-list-item-link::after {
  display: block;
  position: absolute;
  content: "";
  width: 100%;
  opacity: 0;
  bottom: 0;
  height: 4px;
  border-radius: 2px;
  background-color: var(--active-control-color);
  transition: opacity var(--primary-transition);
}

.nav-list-item-link.current::after {
  opacity: 100%;
}

.contacts-list-item-link {
  display: block;
  color: var(--secondary-color);
  font-size: 12px;
  letter-spacing: var(--double-letter-spacing);
  line-height: 1.167;
  font-style: normal;
  transition: color var(--primary-transition);
}

.contacts-list-item-link:hover,
.contacts-list-item-link:focus,
.nav-list-item-link:hover,
.nav-list-item-link:focus,
.nav-list-item-link:active,
.nav-list-item-link.current {
  color: var(--active-control-color);
}

.hero {
  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/index/hero/hero-bg-mobile.jpg);
  background-position: center;
  background-size: cover;
  color: var(--primary-background-color);
  padding: 112px 0;
  max-width: 1440px;
  margin: 0 auto;
}

.hero-header {
  font-size: 36px;
  font-weight: var(--large-font-weight);
  line-height: 1.111;
  text-align: center;
  margin: 0 auto 72px auto;
  max-width: 320px;
}

.hero-button {
  display: block;
  color: var(--primary-background-color);
  border-width: 0;
  background-color: var(--primary-control-color);
  border-radius: 4px;
  font-family: inherit;
  font-size: inherit;
  font-weight: var(--medium-font-weight);
  line-height: inherit;
  letter-spacing: inherit;
  text-align: center;
  padding: 16px 32px;
  max-width: 169px;
  margin: 0 auto;
  transition: var(--primary-transition);
  transition-property: background-color;
  box-shadow: 0px 4px 4px 0px #00000026;
  cursor: pointer;
}

.hero-button:hover,
.hero-button:focus,
.hero-button:active {
  background-color: var(--active-control-color);
}

.advantages,
.team,
.customers {
  padding: 96px 0;
}

.features {
  padding-bottom: 120px;
}

.section-header {
  font-size: 36px;
  font-weight: var(--large-font-weight);
  line-height: 1.111;
  text-align: center;
  margin-bottom: 72px;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.team {
  background-color: var(--secondary-background-color);
}

.team-card {
  text-align: center;
  border-radius: 0 0 4px 4px;
  box-shadow: 0px 2px 1px 0px #2e2f4214, 0px 1px 1px 0px #2e2f4229,
    0px 1px 6px 0px #2e2f4214;
}

.team-card-description {
  padding: 32px 16px;
}

.team-card .content-list-item-text {
  margin-bottom: 8px;
}

.social-list {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 24px;
}

.social-list-item {
  width: 40px;
  height: 40px;
  background-color: var(--primary-control-color);
  border-radius: 50%;
  transition: background-color var(--primary-transition);
}

.social-list-item:hover,
.social-list-item:focus,
.social-list-item:active {
  background-color: var(--active-control-color);
}

.social-list-item-link {
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
}

.social-list-item-icon {
  fill: var(--secondary-background-color);
}

.portfolio-content {
  padding: 48px 0;
}

.controls-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  gap: 24px;
  margin: 0 0 48px 0;
}

.controls-list-item-button {
  display: inline-flex;
  color: var(--primary-control-color);
  background-color: var(--secondary-background-color);
  border-width: 0;
  border-color: var(--specific-border-color);
  border-radius: 4px;
  font-family: inherit;
  font-size: inherit;
  font-weight: var(--medium-font-weight);
  line-height: inherit;
  letter-spacing: var(--double-letter-spacing);
  text-align: center;
  padding: 12px 24px;
  transition: var(--primary-transition);
  transition-property: color, background-color, border-color, box-shadow;
  cursor: pointer;
}

.controls-list-item-button:hover,
.controls-list-item-button:focus,
.controls-list-item-button:active {
  color: var(--primary-background-color);
  background-color: var(--active-control-color);
  border-color: var(--active-control-color);
  box-shadow: 0px 2px 2px 0px #0000001f, 0px 2px 1px 0px #00000014,
    0px 3px 1px 0px #0000001a;
}

.content-list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 72px;
}

.features {
  display: none;
}

.portfolio-content .content-list {
  flex-direction: row;
  flex-wrap: wrap;
  row-gap: 48px;
  column-gap: 24px;
}

.portfolio-card-image {
  width: 396px;
  height: 280px;
}

.content-list-item {
  background-color: var(--primary-background-color);
}

.content-list-item-icon-container {
  display: none;
  width: 264px;
  background-color: var(--secondary-background-color);
  padding: 24px 100px;
  margin-bottom: 8px;
}

.content-list-item-header {
  font-size: 20px;
  font-weight: var(--medium-font-weight);
  line-height: 1.2;
  margin-bottom: 8px;
  text-align: center;
}

.advantages .content-list-item-header {
  font-size: 36px;
  font-weight: var(--large-font-weight);
  line-height: 1.111;
}

.portfolio-content .content-list-item-header {
  text-align: left;
}

.content-list-item-text {
  max-width: 396px;
}

.customers .content-list {
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  row-gap: 72px;
  column-gap: 16px;
  max-width: 396px;
  margin: 0 auto;
}

.customers-list-item-link {
  display: flex;
  width: 190px;
  height: 88px;
  justify-content: center;
  align-items: center;
  border: 1px solid var(--specific-secondary-color);
  border-radius: 4px;
  transition: border-color var(--primary-transition);
}

.customers-list-item-link:hover,
.customers-list-item-link:focus,
.customers-list-item-link:active {
  border-color: var(--active-control-color);
}

.customers-list-item-icon {
  fill: var(--specific-secondary-color);
  transition: fill var(--primary-transition);
}

.customers-list-item-link:hover .customers-list-item-icon,
.customers-list-item-link:focus .customers-list-item-icon,
.customers-list-item-link:active .customers-list-item-icon {
  fill: var(--active-control-color);
}

.portfolio-card {
  max-width: 396px;
  transition: box-shadow var(--primary-transition);
}

.portfolio-card-box {
  position: relative;
  overflow: hidden;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  transform: translateY(100%);
  width: 100%;
  height: 100%;
  display: block;
  padding: 40px 32px 0px 32px;

  color: var(--primary-background-color);
  background-color: var(--primary-control-color);
  transition: transform var(--primary-transition);
}

.portfolio-card .list-item-link:hover,
.portfolio-card .list-item-link:focus,
.portfolio-card .list-item-link:active {
  box-shadow: 0px 2px 1px 0px #2e2f4214, 0px 1px 1px 0px #2e2f4229,
    0px 1px 6px 0px #2e2f4214;
}

.portfolio-card .list-item-link:hover .overlay,
.portfolio-card .list-item-link:focus .overlay,
.portfolio-card .list-item-link:active .overlay {
  transform: translateY(0);
}

.portfolio-card-description {
  border: 1px solid var(--specific-border-color);
  border-top: 0;
  padding: 32px 16px;
}

.page-footer {
  background-color: var(--primary-color);
  color: var(--primary-background-color);
  padding: 96px 0;
}

.page-footer .container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 72px;
}

.footer-description,
.social,
.subscribe {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
}

.header-logo,
.footer-logo {
  display: inline-flex;
  font-family: var(--secondary-font);
  color: var(--primary-control-color);
  font-size: 18px;
  font-weight: 800;
  line-height: 1.167;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.header-logo span {
  color: var(--primary-color);
}

.footer-logo span {
  color: var(--primary-background-color);
}

.footer-text {
  max-width: 264px;
}

.page-footer .social-header,
.subscribe-header {
  font-weight: var(--medium-font-weight);
}

.page-footer .social-list {
  justify-content: left;
  align-items: flex-start;
  gap: 16px;
}

.page-footer .social-list-item:hover,
.page-footer .social-list-item:focus,
.page-footer .social-list-item:active {
  background-color: var(--active-social-color);
}

.subscribe,
.subscribe-list-item,
.subscribe-list {
  width: 100%;
}

.subscribe-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
}

.subscribe-input {
  display: block;
  border: 1px solid var(--primary-background-color);
  border-radius: 4px;
  padding: 8px 16px;
  max-width: 398px;
  width: 100%;
  font-size: 12px;
  line-height: 2;
  color: var(--primary-background-color);
  background-color: var(--primary-color);
  letter-spacing: var(--double-letter-spacing);
  outline: none;
  margin: 0 auto;
}

.subscribe-input::placeholder {
  color: var(--primary-background-color);
  transition: var(--primary-transition);
  transition-property: color;
}

.subscribe-input:focus::placeholder {
  color: transparent;
}

.subscribe-button {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 16px;
  color: var(--primary-background-color);
  border-width: 0;
  background-color: var(--primary-control-color);
  border-radius: 4px;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  letter-spacing: inherit;
  font-weight: var(--medium-font-weight);
  width: 165px;
  height: 40px;
  transition: var(--primary-transition);
  transition-property: background-color;
  cursor: pointer;
  margin: 0 auto;
}

.subscribe-button-icon {
  fill: var(--primary-background-color);
}

.subscribe-button:hover,
.subscribe-button:focus,
.subscribe-button:active {
  background-color: var(--active-control-color);
}

.backdrop {
  position: fixed;
  inset: 0;
  background-color: var(--primary-modal-color);
  transition: var(--primary-transition);
  transition-property: opacity, visibility;
}

.backdrop.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%) scale(1);
  min-width: 300px;
  min-height: 584px;
  border-radius: 4px;
  background-color: var(--modal-background-color);
  box-shadow: 0px 2px 1px 0px #00000033, 0px 1px 3px 0px #0000001f,
    0px 1px 1px 0px #00000024;
  transition: var(--primary-transition);
  transition-property: opacity, transform;
  padding: 72px 24px 24px 24px;
}

.backdrop.is-hidden .modal {
  transform: translateX(-50%) translateY(-50%) scale(0.3);
  opacity: 0;
}

.modal-button,
.menu-close-button {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 24px;
  right: 24px;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 10%);
  background-color: var(--specific-border-color);
  transition: var(--primary-transition);
  transition-property: background-color, border-color;
  cursor: pointer;
}

.modal-button:hover,
.modal-button:focus,
.modal-button:active,
.menu-close-button:hover,
.menu-close-button:focus,
.menu-close-button:active {
  border-color: var(--active-control-color);
  background-color: var(--active-control-color);
}

.modal-button-icon,
.menu-close-icon {
  fill: var(--primary-color);
  transition: fill var(--primary-transition);
}

.modal-button:hover .modal-button-icon,
.modal-button:focus .modal-button-icon,
.modal-button:active .modal-button-icon,
.menu-close-button:hover .menu-close-icon,
.menu-close-button:focus .menu-close-icon,
.menu-close-button:active .menu-close-icon {
  fill: var(--primary-background-color);
}

.form-caption {
  text-align: center;
  font-weight: var(--medium-font-weight);
  margin-bottom: 8px;
}

.form-policy-link,
.input-label,
.input::placeholder {
  color: var(--specific-secondary-color);
  font-size: 12px;
  line-height: 1.167;
  letter-spacing: var(--double-letter-spacing);
  transition: var(--primary-transition);
  transition-property: color;
}

.input:focus::placeholder {
  color: transparent;
}

.input-wrapper {
  position: relative;
}

.input {
  border: 1px solid var(--primary-modal-color);
  border-radius: 4px;
  padding: 8px 16px 8px 38px;
  width: 100%;
  color: var(--primary-color);
  letter-spacing: var(--double-letter-spacing);
  transition: var(--primary-transition);
  transition-property: border-color;
}

.input-area {
  padding: 8px 16px;
}

.form-field-wrapper {
  margin-bottom: 8px;
}

.field-check-wrapper {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin: 16px 0 24px 0;
}

.input-check-wrapper {
  width: 17px;
  height: 17px;
  margin-right: 8px;
}

.input-check {
  appearance: none;
  min-width: 17px;
  width: 100%;
  height: 100%;
  border: 1px solid var(--primary-modal-color);
  border-radius: 2px;
  transition: var(--primary-transition);
  transition-property: border-color, background-color;
  outline: none;
}

.form-policy-link {
  text-decoration: underline;
  color: var(--primary-control-color);
  margin-left: 4px;
}

.input:focus,
.input-check:hover,
.input-check:focus,
.input-check:checked {
  border-color: var(--primary-control-color);
  outline: none;
}

.input-check:checked {
  background-color: var(--primary-control-color);
}

.input-icon {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 16px;
  fill: var(--primary-color);
  transition: var(--primary-transition);
  transition-property: fill;
}

.input-check-icon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  pointer-events: none;
  fill: var(--primary-background-color);
}

.input:focus + .input-icon {
  fill: var(--primary-control-color);
}

.form-button {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  color: var(--primary-background-color);
  background-color: var(--primary-control-color);
  border-width: 0;
  border-radius: 4px;
  transition: var(--primary-transition);
  transition-property: background-color;
  width: 169px;
  height: 56px;
  margin: 0 auto;
  box-shadow: 0px 4px 4px 0px #00000026;
  font-family: inherit;
  font-size: inherit;
  font-weight: var(--medium-font-weight);
  line-height: inherit;
  letter-spacing: inherit;
}

.form-button:hover,
.form-button:focus,
.form-button:active {
  background-color: var(--active-control-color);
}

.menu-container {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  min-width: 320px;
  width: 100vw;
  height: 100vh;
  padding: 80px 35px 40px 40px;
  display: flex;
  flex-direction: column;

  background-color: var(--primary-background-color);

  transform: translateX(100%);
  transition: transform 250ms ease-in-out;
}

.menu-container.is-open {
  transform: translateX(0);
}

.menu-container .nav-list {
  flex-direction: column;
}

.menu-container .nav-list {
  margin-bottom: 284px;
}

.menu-container .nav-list-item-link,
.menu-phone-link {
  font-size: 36px;
  font-weight: var(--large-font-weight);
  line-height: 1.111;
  padding: 0;
}

.menu-container .nav-list-item-link.current::after {
  opacity: 0;
}

.menu-phone-link {
  color: var(--active-control-color);
  margin-bottom: 40px;
}

.menu-email-link {
  color: var(--primary-color);
  font-size: 20px;
  font-weight: var(--medium-font-weight);
  line-height: 1.2;
  margin-bottom: 48px;
  transition: color var(--primary-transition);
}

.menu-email-link:hover,
.menu-email-link:focus {
  color: var(--active-control-color);
}

.menu-container .social-list {
  justify-content: space-between;
  max-width: 328px;
}

@media (min-resolution: 192dpi) {
  .hero {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/index/hero/hero-bg-mobile@2x.jpg);
  }
}

@media only screen and (min-width: 428px) {
  .modal {
    width: 392px;
  }
}

@media only screen and (min-width: 768px) {
  .container {
    padding: 0 15px;
    width: 768px;
  }

  .menu-toggle {
    display: none;
  }

  .navigation,
  .contacts {
    display: flex;
  }

  .hero-header {
    font-size: 56px;
    line-height: 1.071;
    max-width: 496px;
    margin-bottom: 48px;
  }

  .hero {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/index/hero/hero-bg-tablet.jpg);
  }

  @media (min-resolution: 192dpi) {
    .hero {
      background-image: linear-gradient(
          rgba(46, 47, 66, 0.7),
          rgba(46, 47, 66, 0.7)
        ),
        url(../images/index/hero/hero-bg-tablet@2x.jpg);
    }
  }

  .content-list {
    flex-direction: row;
    flex-wrap: wrap;
    gap: 0;
    row-gap: 72px;
    column-gap: 24px;
  }

  .advantages .content-list-item-header {
    text-align: left;
  }

  .team .content-list {
    row-gap: 64px;
  }

  .customers .content-list {
    column-gap: 24px;
    max-width: 100%;
  }

  .customers-list-item-link {
    width: 168px;
  }

  .content-list-item-text {
    max-width: 356px;
  }

  .portfolio-content {
    padding: 64px 0 96px 0;
  }

  .portfolio-content .content-list {
    justify-content: flex-start;
  }

  .controls-list {
    justify-content: center;
    margin: 0 0 64px 0;
  }

  .portfolio-card-image {
    width: 356px;
    height: 300px;
  }

  .page-footer .container {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-start;
    column-gap: 24px;
    row-gap: 72px;
    padding: 0 108px;
  }

  .footer-description,
  .social,
  .subscribe {
    align-items: flex-start;
    gap: 16px;
  }

  .subscribe {
    width: auto;
  }

  .subscribe-list {
    flex-direction: row;
    gap: 24px;
  }

  .subscribe-input {
    width: 264px;
  }

  .modal {
    width: 408px;
  }
}

@media only screen and (min-width: 1158px) {
  .container {
    width: 1158px;
  }

  .navigation {
    flex-grow: 1;
  }

  .contacts-list {
    flex-direction: row;
    gap: 40px;
  }

  .contacts-list-item-link {
    padding: 24px 0;
    font-size: var(--standard-font-size);
    letter-spacing: var(--standard-letter-spacing);
    line-height: var(--standard-line-height);
  }

  .hero {
    padding: 188px 0;
  }

  .hero {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/index/hero/hero-bg-desktop.jpg);
  }

  @media (min-resolution: 192dpi) {
    .hero {
      background-image: linear-gradient(
          rgba(46, 47, 66, 0.7),
          rgba(46, 47, 66, 0.7)
        ),
        url(../images/index/hero/hero-bg-desktop@2x.jpg);
    }
  }

  .advantages,
  .team,
  .customers {
    padding: 120px 0;
  }

  .features {
    display: block;
  }

  .advantages .content-list-item-header {
    font-size: 20px;
    font-weight: var(--medium-font-weight);
    line-height: 1.2;
  }

  .content-list-item-icon-container {
    display: block;
  }

  .content-list-item-text {
    max-width: 264px;
  }

  .portfolio-content {
    padding: 100px 0 120px 0;
  }

  .controls-list {
    justify-content: center;
    margin: 0 0 72px 0;
  }

  .portfolio-card-image {
    width: 360px;
  }

  .page-footer {
    padding: 100px 0;
  }

  .page-footer .container {
    padding: 0 15px;
    justify-content: space-between;
  }
}
